body{
    margin: 0;
}
*{
    font-family: Arial;
    box-sizing: border-box;
}

#wrap{
    min-height: 100vh;
    background: #fbfbff;
}

input:focus{
    background: #efeff5;
    border: 1px solid #efeff5;
}
input{
    border: 1px solid darkgrey;
    padding: 8px;
    margin-right: 3px;
    outline: none;
}

.row{
    margin-top: 15px;
}

a{
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 3px 10px;
    margin-right: 5px;
}


td{
    padding: 5px;
}

.container{
    padding: 10px;
}



.login{
    padding-top: 10vh;
}

.login .auth{
    background: #000;
    color: #fff;
    font-size: 15px;
    padding: 7px 20px 8px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.login #code{
    letter-spacing: 4px;
    width: 72px;
}

.login #info{
    font-size: 14px;
}

.login #error{
    margin-top: 3px;
    color: #ff9393;
}

.login .send-sms{
    border: 0;
    background: none;
    cursor: pointer;
    outline: none;
}

.login #header{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.login form{
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 400px;
    margin: 10vh auto 0;
    box-shadow:0px 0px 8px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow:0px 0px 8px 0px rgba(0,0,0,0.12);
    -moz-box-shadow:0px 0px 8px 0px rgba(0,0,0,0.12);
}

