<html>
    <head>
        <title>Домашнее задание</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" >
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="wrap">
