<div class="container">
    <p>Добро пожаловать, <?= $_SESSION['name'] ?></p>

    <a href="/history">История входов</a>
    <a href="/logout">Выход</a>
</div>

<script>document.title = 'Главная';</script>